body{
	background-color: #EDE0C9;
	/*background-image:  url("https://i.imgur.com/Bl9XrGk.jpg");*/
}
html,body {
	height: 100%;
}
.navbar{
	background-color: #a4744c;
}
#myCard{
	border: 3px dotted #efc7c1b6;
}
#myCardDeck{
	height: fit-content;
}
.sidebar{
	background-color: #c9aa8b;
}
#sideLink{
	font-family:fantasy;
	font-size:35px;
	color:#4e3e1f;
}
.navbar-collapse{
	font-family: Georgia;
	font-size:20px;
	color:#FFFAF0;
}
.card-img-top {
	width: 350px;
	height: 185px;
}