<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/form.css" />
    <title>Order</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="content" style="padding:30px 30px;">
        <form action="hotel_search_Taipei.html" method="post">
            <header>
                <h2>Reservation</h2><br>
            </header>
            <h5>Check-In</h5>
            <div class="checkin">
                <input type="date">
            </div>
            <br>
            <h5>Check-Out</h5>
            <div class="checkout">
                <input type="date">
            </div>
            <br>
            <div class="row">
                <div class="col" style="padding: 5px; width:464px;">
                    <select class="form-select" aria-label="Default select example" style="padding: 10px;">
                        <option selected>Room Type</option>
                        <option value="1">Single Room</option>
                        <option value="2">Double Room</option>
                        <option value="3">Triple Room</option>
                        <option value="3">Quadruple Room</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col" style="padding: 5px;">
                    <input type="text" class="form-control" placeholder="Note" aria-label="email">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col" style="padding: 5px;">
                    <h5>What's your purpose of this trip?</h5>
                    <input type="radio" id="contactChoice2" name="contact" value="Leisure">
                    <label>Leisure</label>
                    <input type="radio" id="contactChoice2" name="contact" value="Work">
                    <label>Work</label>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col" style="padding: 5px;">
                    <h5>Whether to add to the collection?</h5>
                    <input type="radio" id="contactChoice2" name="contact" value="Leisure">
                    <label>Yes</label>
                    <input type="radio" id="contactChoice2" name="contact" value="Work">
                    <label>No,thanks.</label>
                </div>
            </div>
            <br>
            <div class="but" style="padding: 10px;">
                <button>Continue</button>
            </div>
        </form>
    </div>

    <input type="button" value="Home" onclick="location.href='Home.html'" ;
        style="font-family:Georgia; background-color: transparent; width:250px;height:50px;font-size:25px;position:relative; left:950px; top:40px; color:#FFFAF0; border:none" />

    <input type="button" value="Login/Register" onclick="location.href='Login.html'" ;
        style="font-family:Georgia; background-color: transparent; width:250px;height:50px;font-size:25px;position:relative; left:850px; top:40px; color:#FFFAF0; border:none" />
</body>

</html>