<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../static/css/hotel_search.css" />
	<title>Welcome To Homing</title>
</head>

<body>
	<input type="button" value="Home" onclick="location.href='Home.html'" ;
		style="font-family:Georgia; background-color: transparent; width:150px;height:50px;font-size:20px;position:absolute; right:500px; top:15px; color:#FFFAF0; border:none" />

	<input type="button" value="Collect" onclick="location.href='Collect.html'" ;
		style="font-family:Georgia; background-color: transparent; width:150px;height:50px;font-size:20px;position:absolute; right:350px; top:15px; color:#FFFAF0; border:none" />

	<input type="button" value="Order" onclick="location.href='Order.html'" ;
		style="font-family:Georgia; background-color: transparent; width:150px;height:50px;font-size:20px;position:absolute; right:200px; top:15px; color:#FFFAF0; border:none" />

	<input type="button" value="Account" onclick="location.href='Login.html'" ;
		style="font-family:Georgia; background-color: transparent; width:150px;height:50px;font-size:20px;position:absolute; right:50px; top:15px; color:#FFFAF0; border:none" />

	<input type="button" value="Taipei" onclick="location.href='hotel_search_Taipei.html'" ;
		style="font-family:fantasy; background-color: transparent; width:200px;height:50px;font-size:35px;position:absolute; right:1225px; top:110px; color:#4e3e1f; border:none" />

	<input type="button" value="New Taipei" onclick="location.href='hotel_search_New_Taipei.html'" ;
		style="font-family:fantasy; background-color: transparent; width:200px;height:50px;font-size:35px;position:absolute; right:1225px; top:210px; color:#4e3e1f; border:none" />

	<input type="button" value="Taoyuan" onclick="location.href='hotel_search_Taoyuan.html'" ;
		style="font-family:fantasy; background-color: transparent; width:200px;height:50px;font-size:35px;position:absolute; right:1225px; top:310px; color:#4e3e1f; border:none" />

	<input type="button" value="Taichung" onclick="location.href='hotel_search_Taichung.html'" ;
		style="font-family:fantasy; background-color: transparent; width:200px;height:50px;font-size:35px;position:absolute; right:1225px; top:410px; color:#4e3e1f; border:none" />

	<input type="button" value="Tainan" onclick="location.href='hotel_search_Tainan.html'" ;
		style="font-family:fantasy; background-color: transparent; width:200px;height:50px;font-size:35px;position:absolute; right:1225px; top:510px; color:#4e3e1f; border:none" />

	<input type="button" value="Kaohsiung" onclick="location.href='hotel_search_Kaohsiung.html'" ;
		style="font-family:fantasy; background-color: transparent; width:200px;height:50px;font-size:35px;position:absolute; right:1225px; top:610px; color:#4e3e1f; border:none" />

	<div class="productList">
		<ul>
			<li style="padding: 5px;">
				<img src="https://cdn2.ettoday.net/images/5144/d5144853.jpg" alt style="height: 150px;width: 220;">
				<input type="button" value="豐邑MOXY酒店" onclick="location.href='form.html'">
			</li>
			<li style="padding: 5px;">
				<img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/292112314.jpg?k=d0406a51618f051d17ec56eb452539b955dc0b109c2ab5acfffe154223ec60d2&o=&hp=1"
					alt style="height: 150px;width: 220;">
				<input type="button" value="想窩11餐旅館" onclick="location.href='form.html'">
			</li>
			<li style="padding: 5px;">
				<img src="https://www.khotel.tw/uploads/1/2/3/4/123477094/dsc-7625_orig.jpg" alt
					style="height: 150px;width: 220;">
				<input type="button" value="逢甲K行旅" onclick="location.href='form.html'">
			</li>
			<li style="padding: 5px;">
				<img src="https://picdn.gomaji.com/products/o/794/249794/249794_3_4.jpg" alt
					style="height: 150px;width: 220;">
				<input type="button" value="智選假日飯店" onclick="location.href='form.html'">
			</li>
			<li style="padding: 5px;">
				<img src="https://cdn.store-assets.com/s/622910/i/23143907.jpg" alt style="height: 150px;width: 220;">
				<input type="button" value="浮雲客棧" onclick="location.href='form.html'">
			<li style="padding: 5px;">
				<img src="https://pix10.agoda.net/hotelImages/10564014/-1/d402fd5535ad32f403179f7efde4b0a3.jpg?s=1024x768"
					alt style="height: 150px;width: 220;">
				<input type="button" value="金瑞文旅" onclick="location.href='form.html'">
			</li>
			<li style="padding: 5px;">
				<img src="https://www.easytravel.com.tw/ehotel/hotelimg/picture/b/10410_201803291724011940_327.jpg" alt
					style="height: 150px;width: 220;">
				<input type="button" value="MINI HOTELS" onclick="location.href='form.html'">
			</li>
			<li style="padding: 5px;">
				<img src="https://exp.cdn-hotels.com/hotels/26000000/25120000/25116000/25115980/b107f284_z.jpg?impolicy=fcrop&w=500&h=333&q=mediumhttps://1.bp.blogspot.com/-Ng-hTMNOoVU/XWfFJIcs12I/AAAAAAAAMHo/u2B7Ww7CU2YlcQ3QF8WcozNJx5bO4Vk-wCLcBGAs/s1600/Explore%2BHotel%2Bby%2BChicve%25CC%2581%2B%2528a%2529.jpeg"
					alt style="height: 150px;width: 220;">
				<input type="button" value="探索私旅" onclick="location.href='form.html'">
			</li>
		</ul>
	</div>

</body>
<html>