<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="hotel_search.css" />
	<title>Welcome To Homing</title>
</head>

<body>
	<input type="button" value="Home" onclick="location.href='Home.html'" ;
		style="font-family:Georgia; background-color: transparent; width:150px;height:50px;font-size:20px;position:absolute; right:500px; top:15px; color:#FFFAF0; border:none" />

	<input type="button" value="Collect" onclick="location.href='Collect.html'" ;
		style="font-family:Georgia; background-color: transparent; width:150px;height:50px;font-size:20px;position:absolute; right:350px; top:15px; color:#FFFAF0; border:none" />

	<input type="button" value="Order" onclick="location.href='Order.html'" ;
		style="font-family:Georgia; background-color: transparent; width:150px;height:50px;font-size:20px;position:absolute; right:200px; top:15px; color:#FFFAF0; border:none" />

	<input type="button" value="Account" onclick="location.href='Login.html'" ;
		style="font-family:Georgia; background-color: transparent; width:150px;height:50px;font-size:20px;position:absolute; right:50px; top:15px; color:#FFFAF0; border:none" />

	<input type="button" value="Taipei" onclick="location.href='hotel_search_Taipei.html'" ;
		style="font-family:fantasy; background-color: transparent; width:200px;height:50px;font-size:35px;position:absolute; right:1225px; top:110px; color:#4e3e1f; border:none" />

	<input type="button" value="New Taipei" onclick="location.href='hotel_search_New_Taipei.html'" ;
		style="font-family:fantasy; background-color: transparent; width:200px;height:50px;font-size:35px;position:absolute; right:1225px; top:210px; color:#4e3e1f; border:none" />

	<input type="button" value="Taoyuan" onclick="location.href='hotel_search_Taoyuan.html'" ;
		style="font-family:fantasy; background-color: transparent; width:200px;height:50px;font-size:35px;position:absolute; right:1225px; top:310px; color:#4e3e1f; border:none" />

	<input type="button" value="Taichung" onclick="location.href='hotel_search_Taichung.html'" ;
		style="font-family:fantasy; background-color: transparent; width:200px;height:50px;font-size:35px;position:absolute; right:1225px; top:410px; color:#4e3e1f; border:none" />

	<input type="button" value="Tainan" onclick="location.href='hotel_search_Tainan.html'" ;
		style="font-family:fantasy; background-color: transparent; width:200px;height:50px;font-size:35px;position:absolute; right:1225px; top:510px; color:#4e3e1f; border:none" />

	<input type="button" value="Kaohsiung" onclick="location.href='hotel_search_Kaohsiung.html'" ;
		style="font-family:fantasy; background-color: transparent; width:200px;height:50px;font-size:35px;position:absolute; right:1225px; top:610px; color:#4e3e1f; border:none" />

	<div class="productList">
		<ul>
			<li style="padding: 5px;">
				<img src="https://digital.ihg.com/is/image/ihg/intercontinental-kaohsiung-7320489095-2x1?fit=fit,1&wid=2400&hei=1200&qlt=85,0&resMode=sharp2&op_usm=1.75,0.9,2,0"
					alt style="height: 150px;width: 220;">
				<input type="button" value="洲際酒店" onclick="location.href='form.html'">
			</li>
			<li style="padding: 5px;">
				<img src="https://www.mirrormedia.com.tw/assets/images/20211011095847-3f95315129474018afb4978939c64daa-desktop.jpg"
					alt style="height: 150px;width: 220;">
				<input type="button" value="天子閣飯店" onclick="location.href='form.html'">
			</li>
			<li style="padding: 5px;">
				<img src="https://taiwan.sharelife.tw/tw-news-img/61650/7304290321481513.jpg" alt
					style="height: 150px;width: 220;">
				<input type="button" value="萬豪酒店" onclick="location.href='form.html'">
			</li>
			<li style="padding: 5px;">
				<img src="https://digital.ihg.com/is/image/ihg/holiday-inn-express-kaohisung-city-6882407357-2x1?wid=940&hei=470&qlt=85,0&resMode=sharp2&op_usm=1.75,0.9,2,0"
					alt style="height: 150px;width: 220;">
				<input type="button" value="智選假日酒店" onclick="location.href='form.html'">
			</li>
			<li style="padding: 5px;">
				<img src="https://q-xx.bstatic.com/xdata/images/hotel/840x460/265457765.jpg?k=b436ebada8a45cabf501ef3d57ece6f81d7ede1fc14c39092f556847b8f46560&o="
					alt style="height: 150px;width: 220;">
				<input type="button" value="JÒHŌ HOTEL" onclick="location.href='form.html'">
			<li style="padding: 5px;">
				<img src="https://pix10.agoda.net/hotelImages/559/5598774/5598774_19011316540071254933.jpg?s=1024x768"
					alt style="height: 150px;width: 220;">
				<input type="button" value="比歐緻居" onclick="location.href='form.html'">
			</li>
			<li style="padding: 5px;">
				<img src="https://www.hotelscombined.com.tw/rimg/himg/62/f2/28/ostrovok-8732319-aa8181043dfc44e3c4b1fc8f3e8a2493da68c10d-709713.jpg?width=1366&height=768&crop=true"
					alt style="height: 150px;width: 220;">
				<input type="button" value="庭園旅宿" onclick="location.href='form.html'">
			</li>
			<li style="padding: 5px;">
				<img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/299692737.jpg?k=7efd8c9b6fb3769d519ef50320e6c044518ec132cce78c798042f56533fd28de&o=&hp=1"
					alt style="height: 150px;width: 220;">
				<input type="button" value="泊思•小驢舍" onclick="location.href='form.html'">
			</li>
		</ul>
	</div>
</body>
<html>