<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../static/css/hotel_search.css" />
	<title>Welcome To Homing</title>
</head>

<body>
	<input type="button" value="Home" onclick="location.href='Home.html'" ;
		style="font-family:Georgia; background-color: transparent; width:150px;height:50px;font-size:20px;position:absolute; right:500px; top:15px; color:#FFFAF0; border:none" />

	<input type="button" value="Collect" onclick="location.href='Collect.html'" ;
		style="font-family:Georgia; background-color: transparent; width:150px;height:50px;font-size:20px;position:absolute; right:350px; top:15px; color:#FFFAF0; border:none" />

	<input type="button" value="Order" onclick="location.href='Order.html'" ;
		style="font-family:Georgia; background-color: transparent; width:150px;height:50px;font-size:20px;position:absolute; right:200px; top:15px; color:#FFFAF0; border:none" />

	<input type="button" value="Account" onclick="location.href='Login.html'" ;
		style="font-family:Georgia; background-color: transparent; width:150px;height:50px;font-size:20px;position:absolute; right:50px; top:15px; color:#FFFAF0; border:none" />

	<input type="button" value="Taipei" onclick="location.href='hotel_search_Taipei.html'" ;
		style="font-family:fantasy; background-color: transparent; width:200px;height:50px;font-size:35px;position:absolute; right:1225px; top:110px; color:#4e3e1f; border:none" />

	<input type="button" value="New Taipei" onclick="location.href='hotel_search_New_Taipei.html'" ;
		style="font-family:fantasy; background-color: transparent; width:200px;height:50px;font-size:35px;position:absolute; right:1225px; top:210px; color:#4e3e1f; border:none" />

	<input type="button" value="Taoyuan" onclick="location.href='hotel_search_Taoyuan.html'" ;
		style="font-family:fantasy; background-color: transparent; width:200px;height:50px;font-size:35px;position:absolute; right:1225px; top:310px; color:#4e3e1f; border:none" />

	<input type="button" value="Taichung" onclick="location.href='hotel_search_Taichung.html'" ;
		style="font-family:fantasy; background-color: transparent; width:200px;height:50px;font-size:35px;position:absolute; right:1225px; top:410px; color:#4e3e1f; border:none" />

	<input type="button" value="Tainan" onclick="location.href='hotel_search_Tainan.html'" ;
		style="font-family:fantasy; background-color: transparent; width:200px;height:50px;font-size:35px;position:absolute; right:1225px; top:510px; color:#4e3e1f; border:none" />

	<input type="button" value="Kaohsiung" onclick="location.href='hotel_search_Kaohsiung.html'" ;
		style="font-family:fantasy; background-color: transparent; width:200px;height:50px;font-size:35px;position:absolute; right:1225px; top:610px; color:#4e3e1f; border:none" />

	<div class="productList">
		<ul>
			<li style="padding: 5px;">
				<img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1b/37/e7/90/caption.jpg?w=1200&h=-1&s=1"
					alt style="height: 150px;width: 220;">
				<input type="button" value="新舍商旅" onclick="location.href='form.html'">
			</li>
			<li style="padding: 5px;">
				<img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/14/b8/91/4a/caption.jpg?w=1200&h=-1&s=1"
					alt style="height: 150px;width: 220;">
				<input type="button" value="旅居文旅" onclick="location.href='form.html'">
			</li>
			<li style="padding: 5px;">
				<img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/10/a2/94/33/the-kuva.jpg?w=1200&h=-1&s=1"
					alt style="height: 150px;width: 220;">
				<input type="button" value="古華花園飯店" onclick="location.href='form.html'">
			</li>
			<li style="padding: 5px;">
				<img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1c/38/55/a7/cozzi-blu.jpg?w=1200&h=-1&s=1"
					alt style="height: 150px;width: 220;">
				<input type="button" value="COZZI Blu 和逸飯店" onclick="location.href='form.html'">
			</li>
			<li style="padding: 5px;">
				<img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/19/ee/44/4a/caption.jpg?w=1200&h=-1&s=1"
					alt style="height: 150px;width: 220;">
				<input type="button" value="藍水輕旅" onclick="location.href='form.html'">
			<li style="padding: 5px;">
				<img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1d/94/d8/89/executive-deluxe-suite.jpg?w=1200&h=-1&s=1"
					alt style="height: 150px;width: 220;">
				<input type="button" value="笠復威斯汀度假酒店" onclick="location.href='form.html'">
			</li>
			<li style="padding: 5px;">
				<img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/11/75/8e/d0/caption.jpg?w=800&h=-1&s=1"
					alt style="height: 150px;width: 220;">
				<input type="button" value="六星旅館" onclick="location.href='form.html'">
			</li>
			<li style="padding: 5px;">
				<img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/13/dc/fd/4f/img-20180715-113624-largejpg.jpg?w=1200&h=-1&s=1"
					alt style="height: 150px;width: 220;">
				<input type="button" value="米堤大飯店" onclick="location.href='form.html'">
			</li>
		</ul>
	</div>
</body>
<html>