<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../static/css/hotel_search.css" />
	<title>Welcome To Homing</title>
</head>

<body>
	<input type="button" value="Home" onclick="location.href='Home.html'" ;
		style="font-family:Georgia; background-color: transparent; width:150px;height:50px;font-size:20px;position:absolute; right:500px; top:15px; color:#FFFAF0; border:none" />

	<input type="button" value="Collect" onclick="location.href='Collect.html'" ;
		style="font-family:Georgia; background-color: transparent; width:150px;height:50px;font-size:20px;position:absolute; right:350px; top:15px; color:#FFFAF0; border:none" />

	<input type="button" value="Order" onclick="location.href='Order.html'" ;
		style="font-family:Georgia; background-color: transparent; width:150px;height:50px;font-size:20px;position:absolute; right:200px; top:15px; color:#FFFAF0; border:none" />

	<input type="button" value="Account" onclick="location.href='Login.html'" ;
		style="font-family:Georgia; background-color: transparent; width:150px;height:50px;font-size:20px;position:absolute; right:50px; top:15px; color:#FFFAF0; border:none" />

	<input type="button" value="Taipei" onclick="location.href='hotel_search_Taipei.html'" ;
		style="font-family:fantasy; background-color: transparent; width:200px;height:50px;font-size:35px;position:absolute; right:1225px; top:110px; color:#4e3e1f; border:none" />

	<input type="button" value="New Taipei" onclick="location.href='hotel_search_New_Taipei.html'" ;
		style="font-family:fantasy; background-color: transparent; width:200px;height:50px;font-size:35px;position:absolute; right:1225px; top:210px; color:#4e3e1f; border:none" />

	<input type="button" value="Taoyuan" onclick="location.href='hotel_search_Taoyuan.html'" ;
		style="font-family:fantasy; background-color: transparent; width:200px;height:50px;font-size:35px;position:absolute; right:1225px; top:310px; color:#4e3e1f; border:none" />

	<input type="button" value="Taichung" onclick="location.href='hotel_search_Taichung.html'" ;
		style="font-family:fantasy; background-color: transparent; width:200px;height:50px;font-size:35px;position:absolute; right:1225px; top:410px; color:#4e3e1f; border:none" />

	<input type="button" value="Tainan" onclick="location.href='hotel_search_Tainan.html'" ;
		style="font-family:fantasy; background-color: transparent; width:200px;height:50px;font-size:35px;position:absolute; right:1225px; top:510px; color:#4e3e1f; border:none" />

	<input type="button" value="Kaohsiung" onclick="location.href='hotel_search_Kaohsiung.html'" ;
		style="font-family:fantasy; background-color: transparent; width:200px;height:50px;font-size:35px;position:absolute; right:1225px; top:610px; color:#4e3e1f; border:none" />

	<div class="productList">
		<ul>
			<li style="padding: 5px;">
				<img src="https://t-cf.bstatic.com/xdata/images/hotel/max1280x900/261525049.jpg?k=833ca102a9d7465e4f5a66ba1e3620318571f36dee167af0e34fa198872dab21&o=&hp=1"
					alt style="height: 150px;width: 220;">
				<input type="button" value="板橋凱撒大飯店" onclick="location.href='form.html'">
			</li>
			<li style="padding: 5px;">
				<img src="https://images.trvl-media.com/hotels/5000000/4620000/4613200/4613180/3fb9a642.jpg?impolicy=fcrop&w=1200&h=800&p=1&q=medium"
					alt style="height: 150px;width: 220;">
				<input type="button" value="淡水福容大飯店" onclick="location.href='form.html'">
			</li>
			<li style="padding: 5px;">
				<img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1a/e3/06/bf/caption.jpg?w=1200&h=-1&s=1"
					alt style="height: 150px;width: 220;">
				<input type="button" value="將捷金鬱金香酒店" onclick="location.href='form.html'">
			</li>
			<li style="padding: 5px;">
				<img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/10/0c/56/19/caption.jpg?w=1000&h=-1&s=1"
					alt style="height: 150px;width: 220;">
				<input type="button" value="翰品酒店新莊" onclick="location.href='form.html'">
			</li>
			<li style="padding: 5px;">
				<img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0c/e4/17/b9/caption.jpg?w=800&h=-1&s=1"
					alt style="height: 150px;width: 220;">
				<input type="button" value="樂頤飯店" onclick="location.href='form.html'">
			<li style="padding: 5px;">
				<img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1c/c0/c1/4a/photo8jpg.jpg?w=1200&h=-1&s=1"
					alt style="height: 150px;width: 220;">
				<input type="button" value="傑仕堡商旅板橋館" onclick="location.href='form.html'">
			</li>
			<li style="padding: 5px;">
				<img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0d/fe/06/37/caption.jpg?w=1000&h=-1&s=1"
					alt style="height: 150px;width: 220;">
				<input type="button" value="薆悅酒店野柳渡假館" onclick="location.href='form.html'">
			</li>
			<li style="padding: 5px;">
				<img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/14/ae/f2/b3/caption.jpg?w=1200&h=-1&s=1"
					alt style="height: 150px;width: 220;">
				<input type="button" value="大埔硫磺溫泉商旅" onclick="location.href='form.html'">
			</li>
		</ul>
	</div>

</body>
<html>