body{
	font-family:  Georgia;
	background-color: #F8F8FF; 
	background-image:  url("https://i.imgur.com/4cecNZd.jpg");
	background-position: center-bottom;
	background-repeat: no-repeat;
}

.content{
	background-color: #FFF8DC;
	width: 400px;
	padding: 50px;
	position: absolute;
	top: 25%;
	left: 33%;
}

.send button{
	font-family: Georgia;
	position: absolute;
	top: 300px;
	left: 40px;
	font-size: 15px;
	width: 430px;
	height: 40px;
	color: #FFFFFF;
	border-radius: 10px;
	background-color: #856d40;
	border: 1px solid #856d40;
}