<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/hotel_search.css" />
    <title>Welcome To Homing</title>
</head>

<body>
    <input type="button" value="Home" onclick="location.href='Home.html'" ;
        style="font-family:Georgia; background-color: transparent; width:150px;height:50px;font-size:20px;position:absolute; right:500px; top:15px; color:#FFFAF0; border:none" />

    <input type="button" value="Collect" onclick="location.href='Collect.html'" ;
        style="font-family:Georgia; background-color: transparent; width:150px;height:50px;font-size:20px;position:absolute; right:350px; top:15px; color:#FFFAF0; border:none" />

    <input type="button" value="Order" onclick="location.href='Order.html'" ;
        style="font-family:Georgia; background-color: transparent; width:150px;height:50px;font-size:20px;position:absolute; right:200px; top:15px; color:#FFFAF0; border:none" />

    <input type="button" value="Account" onclick="location.href='Login.html'" ;
        style="font-family:Georgia; background-color: transparent; width:150px;height:50px;font-size:20px;position:absolute; right:50px; top:15px; color:#FFFAF0; border:none" />

    <input type="button" value="Taipei" onclick="location.href='hotel_search_Taipei.html'" ;
        style="font-family:fantasy; background-color: transparent; width:200px;height:50px;font-size:35px;position:absolute; right:1225px; top:110px; color:#4e3e1f; border:none" />

    <input type="button" value="New Taipei" onclick="location.href='hotel_search_New_Taipei.html'" ;
        style="font-family:fantasy; background-color: transparent; width:200px;height:50px;font-size:35px;position:absolute; right:1225px; top:210px; color:#4e3e1f; border:none" />

    <input type="button" value="Taoyuan" onclick="location.href='hotel_search_Taoyuan.html'" ;
        style="font-family:fantasy; background-color: transparent; width:200px;height:50px;font-size:35px;position:absolute; right:1225px; top:310px; color:#4e3e1f; border:none" />

    <input type="button" value="Taichung" onclick="location.href='hotel_search_Taichung.html'" ;
        style="font-family:fantasy; background-color: transparent; width:200px;height:50px;font-size:35px;position:absolute; right:1225px; top:410px; color:#4e3e1f; border:none" />

    <input type="button" value="Tainan" onclick="location.href='hotel_search_Tainan.html'" ;
        style="font-family:fantasy; background-color: transparent; width:200px;height:50px;font-size:35px;position:absolute; right:1225px; top:510px; color:#4e3e1f; border:none" />

    <input type="button" value="Kaohsiung" onclick="location.href='hotel_search_Kaohsiung.html'" ;
        style="font-family:fantasy; background-color: transparent; width:200px;height:50px;font-size:35px;position:absolute; right:1225px; top:610px; color:#4e3e1f; border:none" />

    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>name</th>

            <th>location</th>

            <th>comment</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="room: ${listHotel}">
            <tr>
                <td>[[${room.nameHotel}]]</td>

                <td>[[${room.floor}]]</td>

                <td>[[${room.price}]]</td>
                <td>[[${room.capacity}]]</td>
                <td>[[${room.comment}]]</td>
                <td>[[${room.checkIn}]]</td>
                <td>[[${room.checkOut}]]</td>

            </tr>
        </th:block>
        </tbody>
    </table>
</body>
<html>